*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/fastlane/README.md
/fastlane/report.xml
/captures
.externalNativeBuild
/projectFilesBackup
.gradletasknamecache

# Project reports
/reports

#jacoco.exec
jacoco.exec
