<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melih.list">

    <application>
        <activity
            android:name="com.melih.list.ui.LaunchesActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
