version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-28
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      #      - run:
      #         name: Chmod permissions #if permission for Gradlew Dependencies fail, use this.
      #         command: sudo chmod +x ./gradlew
      - run:
          name: Setup
          command: |
            gem install bundler
            bundle install
            mkdir ~/code/reports

      # Detekt
      - run:
          name: Detekt
          command: fastlane detekt
      - store_artifacts: # for display in Artifacts: https://circleci.com/docs/2.0/artifacts/
          path: reports/detekt
      - store_test_results: # for display in Test Summary: https://circleci.com/docs/2.0/collect-test-data/
          path: reports

      # Tests
      - run:
          name: Tests
          command: fastlane test_all
      - store_artifacts: # for display in Artifacts: https://circleci.com/docs/2.0/artifacts/
          path: build/reports/tests
      - store_test_results: # for display in Test Summary: https://circleci.com/docs/2.0/collect-test-data/
          path: reports

      # See https://circleci.com/docs/2.0/deployment-integrations/ for deploy examples
